article
  header
    h1="Critical delete"
  p
    | Sometimes you dont just want to delete, you want to anhialate, obliterate, TEAR!.. you get the point.
  p
    | Introducing 
    span.damage-number 
      | damage numbers 
    |for the web.
  
  p
    | The feedback of clicking will feel pleasurably familiar to many of you.

  div.critit
    div="Delete"

  p
    | And is a sure way of confirming that the action is indeed user intended.
  p
    | Clicking fast feels sooo good.
  p
    | Please just dont.. delete everything.

link(rel='stylesheet', href='/stylesheets/crit.css')
link(rel='stylesheet', href='/stylesheets/wtwui.css')
script(src="javascripts/wtwui-min.js")
script(src="javascripts/crit.js")
