@import url(http://fonts.googleapis.com/css?family=Chango);

article {
  display: block;
  width: 420px;
  margin: 30px auto 0px auto;
}

html {
  background: url(http://subtlepatterns.com/patterns/brillant.png);
}
article header {
  width: inherit;
}

article header h1 {
  font-family: 'Press Start 2p';
  font-size: 40px;
  line-height: 42px;
  text-shadow: 1px 1px 0px rgba(0,0,0, 0.1);
  color: #ED8600;
  text-shadow: 1px 1px 0px #DB5014;
}

article p {
  font: 20px Georgia, "times new roman";
  color: rgb(73, 70, 70);
  line-height: 30px;
  margin: 20px 0px 20px 0px;
}

article div.critit {
  padding: 8px 12px 8px 12px;
  margin: 60px 0px 60px 0px;
  width: 80px;
  display: block;
  border-radius: 3px;
  font: 18px "Helvetica Neue", Helvetica;
  text-align: center;
  background: rgb(114, 81, 106);
  color: rgb(219, 218, 218);
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, 0.14);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article div.critit div {
  -webkit-transition: -webkit-transform 2s;
}

article div.critit:active {
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, 0.1); 
}


article div.critit.deleted div {
  -webkit-transform: rotate(-7deg);
}

